header {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  background-color: #1a1a1a;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #fac232;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 50px;
  margin-right: 10px;
}
header a {
  text-decoration: none;
  color: #fac232;
}
header nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
header nav ul li a {
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  color: #fac232;
  border-radius: 5px;
}
header nav ul li a:hover {
  background-color: #fac232;
  color: black;
}

.promo-socios {
  background-color: #fac232;
  padding: 5px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.promo-socios p {
  color: #1A1A1A;
  text-align: center;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .promo-socios {
    justify-content: center;
  }
  header {
    flex-direction: column;
  }
  header nav {
    padding: 10px 0px;
  }
  .container .portada img {
    max-width: 400px;
  }
  .container .partido img {
    margin-top: 20px;
  }
  .container .video {
    margin-top: 20px;
  }
  .container .video video {
    max-width: 300px;
    display: flex;
    align-items: center;
  }
  .container .video p {
    justify-content: center;
  }
  footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
.container .portada {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .portada h3 {
  text-align: center;
  color: #fac232;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.container .portada img {
  min-height: 100px;
  max-height: 800px;
  border-radius: 10px;
}
.container .partidos {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container .partidos .partido img {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.container .video {
  margin-top: 20px;
}
.container .video video {
  width: 700px;
  display: flex;
  align-items: center;
}
.container .video p {
  text-align: center;
  color: #fac232;
  margin-top: 10px;
}
.container h3 {
  text-align: center;
  color: #fac232;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-top: 20px;
}
.container .refuerzos {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 50px;
}
.container .refuerzos .refuerzo {
  margin-top: 20px;
  background-color: #fac232;
  border-radius: 10px;
}
.container .refuerzos .refuerzo img {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .refuerzos .refuerzo p {
  text-align: center;
}

footer {
  width: 100%;
  background-color: #1a1a1a;
}
footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 30px 0px;
}
footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .grupo-1 .box figure img {
  width: 70px;
}
footer .grupo-1 .box h3 {
  color: #fac232;
  margin-bottom: 25px;
  font-size: 20px;
}
footer .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
footer .grupo-1 .box .redes a {
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
}
footer .grupo-1 .box .redes a img {
  width: 50px;
}
footer .grupo-2 {
  background-color: #fac232;
  padding: 10px 10px;
  text-align: center;
  color: black;
}
footer .grupo-2 small {
  font-size: 15px;
}

* {
  margin: 0 auto;
}

body {
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
