header {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  background-color: #1a1a1a;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #fac232;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 50px;
  margin-right: 10px;
}
header a {
  text-decoration: none;
  color: #fac232;
}
header nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
header nav ul li a {
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  color: #fac232;
  border-radius: 5px;
}
header nav ul li a:hover {
  background-color: #fac232;
  color: black;
}

.promo-socios {
  background-color: #fac232;
  padding: 5px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.promo-socios p {
  color: #1A1A1A;
  text-align: center;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .promo-socios {
    justify-content: center;
  }
  header {
    flex-direction: column;
  }
  header nav {
    padding: 10px 0px;
  }
  .container .portada img {
    max-width: 400px;
  }
  .container .partido img {
    margin-top: 20px;
  }
  .container .video {
    margin-top: 20px;
  }
  .container .video video {
    max-width: 300px;
    display: flex;
    align-items: center;
  }
  .container .video p {
    justify-content: center;
  }
  .container-plantel img {
    flex-wrap: wrap;
    width: 90%;
    border-radius: 10px;
  }
  .container-socios h6 {
    color: #fac232;
    font-size: 20px;
    text-align: center;
    padding: 20px;
  }
  .container-futbol .noticia img {
    max-width: 300px;
  }
  footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
.container .portada {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .portada h3 {
  text-align: center;
  color: #fac232;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.container .portada img {
  min-height: 100px;
  max-height: 800px;
  border-radius: 10px;
  cursor: pointer;
}
.container .partidos {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container .partidos .partido img {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
.container .video {
  margin-top: 20px;
}
.container .video video {
  width: 700px;
  display: flex;
  align-items: center;
}
.container .video p {
  text-align: center;
  color: #fac232;
  margin-top: 10px;
}
.container h3 {
  text-align: center;
  color: #fac232;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-top: 20px;
}
.container .refuerzos {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 50px;
}
.container .refuerzos .refuerzo {
  cursor: pointer;
  margin-top: 20px;
  background-color: #fac232;
  border-radius: 10px;
}
.container .refuerzos .refuerzo img {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .refuerzos .refuerzo p {
  text-align: center;
}

.container-plantel .box1 h2 {
  color: #fac232;
  text-align: center;
  margin: 10px;
}
.container-plantel .box1 p {
  color: #fac232;
  text-align: center;
}
.container-plantel .box1 img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100px;
  max-height: 800px;
  border-radius: 10px;
}
.container-plantel .box2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-plantel .box2 table {
  border: 2px solid #fac232;
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
}
.container-plantel .box2 table thead {
  background: #fac232;
}
.container-plantel .box2 table thead tr th {
  color: black;
  padding: 20px 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.container-plantel .box2 table tbody tr {
  cursor: pointer;
}
.container-plantel .box2 table tbody tr td {
  color: #fac232;
  padding: 15px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.container-plantel .box2 table tbody tr:hover {
  background: rgba(248, 223, 32, 0.4);
}

.container-socios h6 {
  color: #fac232;
  font-size: 25px;
  text-align: center;
  padding: 150px;
}
.container-socios h6:hover {
  transition: 300ms;
  color: black;
  background-color: #fac232;
}

.container-futbol .noticia {
  display: grid;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #fae332;
  border: 2px solid #fac232;
  border-radius: 20px;
  max-width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.container-futbol .noticia h2 {
  text-align: center;
  font-size: 35px;
  margin: 20px;
  text-decoration: underline;
}
.container-futbol .noticia p {
  text-align: center;
  font-size: 22px;
}
.container-futbol .noticia a {
  align-items: center;
  text-decoration: none;
  color: darkblue;
}
.container-futbol .noticia a:hover {
  background-color: black;
  color: white;
  transition: 1s;
  padding: 10px;
  border-radius: 10px;
}
.container-futbol .noticia img {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

footer {
  width: 100%;
  background-color: #1a1a1a;
}
footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 30px 0px;
}
footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .grupo-1 .box figure img {
  width: 70px;
}
footer .grupo-1 .box h3 {
  color: #fac232;
  margin-bottom: 25px;
  font-size: 20px;
}
footer .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
footer .grupo-1 .box .redes a {
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
}
footer .grupo-1 .box .redes a img {
  width: 50px;
}
footer .grupo-2 {
  background-color: #fac232;
  padding: 10px 10px;
  text-align: center;
  color: black;
}
footer .grupo-2 small {
  font-size: 15px;
}

* {
  margin: 0 auto;
}

body {
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
