@import "../utilities/variables";

header{
   display: flex;
   min-height: 70px;
   justify-content: space-between;
   background-color: #1a1a1a;
   align-items: center;
   padding: 10px;
   border-bottom: 1px solid $color-cda;

   .logo{
    display: flex;
    align-items: center;
    img{
        height: 50px;
        margin-right: 10px;
    }
   }
   a{
    text-decoration: none;
    color: $color-cda;
   }
   nav{
    
    ul{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        li{
            a{
                font-weight: 600;
                padding: 10px;
                margin: 10px;
                color: $color-cda;
                border-radius: 5px;

                &:hover{
                    background-color: $color-cda;
                    color: black;
                }
            }
        }
    }
    
   }

}


