@import "../utilities/variables";

header{
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $color-cda;
    align-items: center;
    padding: 10px;

    h1{
        color: $color-cda;
    }
    img{
        width: 150px;
    }

    nav{
        ul{
            display: flex;
            list-style: none;
            li{
                
                a{
                    color: $color-cda;
                    margin: 10px;
                    padding: 10px;
                    border-radius: 5px;
                    text-decoration: none;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 20px;

                    &:hover{
                        background-color: $color-cda;
                        color: black;
                    }
                }
            }
        }
    }
}