@import "../utilities/variables";

@media screen and (max-width: 768px){
    .promo-socios{
        justify-content: center;
    }
    header{
        flex-direction: column;
        nav{
            padding: 10px 0px;
        }
    }
    .container{
        .portada{
            img{
                max-width: 400px;
            }
        }
        .partido{
            img{
                margin-top: 20px;
            }
        }
        .video{
            margin-top: 20px;
            video{
                max-width: 300px;
                display: flex;
                align-items: center;
            }
            p{
                justify-content: center;
            }
        }
    }
    .container-plantel{
        
        img{
            flex-wrap: wrap;
            width: 90%;
            border-radius: 10px;
        }
        
    } 
    .container-socios{
        h6{
            color: $color-cda;
            font-size: 20px;
            text-align: center;
            padding: 20px;            
        }
    }
    footer{
        .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }
    }
}